.bg-inicio {
  background-color: black; }

.pantallaDeInicio {
  padding-left: 25%;
  padding-right: 25%;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 30px; }
  .pantallaDeInicio #tuPicada {
    height: 200px;
    width: 200px;
    border-radius: 50%; }

header {
  font-weight: bold;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 20px;
  z-index: 999; }
  header ul {
    font-size: 1.5rem;
    margin-right: 20px;
    font-family: 'Bebas Neue', cursive; }

#logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 50px; }

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    .flex-header {
      flex-direction: column;
      align-items: center; } }

.navbar-light .navbar-toggler {
  width: 100%; }

.background {
  background-image: url(../images/picada.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  margin-top: 100px; }
  .background #frase {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    width: 50%;
    margin-left: 50px;
    padding-top: 100px; }

.foto-picada {
  height: 200px;
  width: 200px; }

.col-4 {
  position: relative;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px; }

h2 {
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 600; }

p {
  font-size: 1rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 300; }

h3 {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400; }

h4 {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300; }

.btn {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: #292b2c;
  color: white;
  text-transform: none; }

#darkMode {
  margin-right: 20px;
  margin-left: 1180px;
  margin-top: -20px; }

#cupon {
  margin-right: 15px;
  margin-left: 950px;
  margin-top: -67px; }

.bodyDarkMode {
  background-color: #292b2c;
  color: white;
  transition: 1s ease-in; }

.buttonDarkMode {
  color: #292b2c;
  background-color: beige; }

.descuento {
  color: red; }

.itemsNumber {
  color: white;
  background-color: red;
  border-radius: 50%;
  margin: 0px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: .8rem;
  font-style: 'Oswald', sans-serif; }
