:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; }

header {
  font-weight: bold;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 20px;
  z-index: 997; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    header {
      height: 35%; } }
  header ul {
    font-size: 1.5rem;
    margin-right: 20px;
    font-family: 'Bebas Neue', cursive; }

#logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 50px; }

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    .flex-header {
      flex-direction: column;
      align-items: center; } }

.navbar-light .navbar-toggler {
  width: 100%; }

.background {
  background-image: url(../images/picada.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  margin-top: 100px; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    .background {
      margin-top: 200px; } }
  .background #frase {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    width: 50%;
    margin-left: 50px;
    padding-top: 100px; }
    @media screen and (min-width: 250px) and (max-width: 576px) {
      .background #frase {
        width: 45%; } }

.col-4 {
  position: relative;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px; }

h2 {
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 600; }

p {
  font-size: 1rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 300; }

.btn {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: #292b2c;
  color: white;
  text-transform: none; }

#darkMode {
  margin-right: 20px;
  margin-left: 1180px;
  margin-top: -20px; }

#cupon {
  margin-right: 15px;
  margin-left: 950px;
  margin-top: -67px; }

.bodyDarkMode {
  background-color: #292b2c;
  transition: 1s ease-in;
  color: white; }
  .bodyDarkMode h4 {
    color: black; }

.buttonDarkMode {
  color: #292b2c;
  background-color: beige; }

.descuento {
  color: red; }

#cartCounter {
  color: white;
  background-color: #f54242;
  border-radius: 50%;
  margin: 0px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: .8rem;
  font-style: 'Oswald', sans-serif;
  height: 20px;
  width: 20px;
  font-size: 1rem; }

.productCardMask {
  position: fixed;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.404);
  top: 0;
  right: 0;
  z-index: 998; }
  .productCardMask .productsOnCard {
    position: fixed;
    overflow: scroll;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: white;
    z-index: 999;
    padding-right: 0px;
    overflow-x: hidden;
    transition: 0.5s; }
    .productCardMask .productsOnCard .shop-detail {
      margin-top: 30px;
      margin-bottom: 30px; }
      .productCardMask .productsOnCard .shop-detail p {
        font-family: 'Oswald', sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0; }
      .productCardMask .productsOnCard .shop-detail img {
        height: 100px;
        width: 200px;
        object-fit: cover;
        object-position: center; }
      .productCardMask .productsOnCard .shop-detail span {
        font-family: 'Oswald', sans-serif;
        font-size: 0.9rem;
        font-weight: 300; }
      .productCardMask .productsOnCard .shop-detail #productAmount {
        color: black;
        padding-right: 7px;
        font-size: 1rem;
        font-style: 'Oswald', sans-serif;
        margin-left: 3px; }

.contenedor {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 120px;
  margin-left: 120px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    .contenedor {
      margin-right: 30px;
      margin-left: 30px; } }
  .contenedor .foto-picada {
    height: 200px;
    width: 200px;
    object-fit: cover; }
  .contenedor .buttonMinus {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f54242;
    margin-left: -10px;
    margin-top: -24px;
    margin-bottom: -14px; }
  .contenedor .buttonPlus {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f54242;
    margin-left: 170px;
    margin-top: -24px;
    margin-bottom: 10px; }
  .contenedor h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 5px;
    margin-top: -10px; }
  .contenedor h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background-color: #ffd666;
    margin: 0px;
    padding: 10px;
    font-size: 1.5rem; }
